.features {
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
}

.tweet {
   color: #FFFFFF;
   padding-top: 10px;
}

.distance-far {
    line-height: 0px;
}

.timeAndTweet {
 
}

.divider {
    padding-top: 4px;
}

.distance-close {
    color: red;
    line-height: 0px;
}

.feature {
    border-radius: 6px;
    border: 1px solid rgb(124, 122, 122);
    padding-top: 12px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
    width: 25%;
  
}
